group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Fable.React 7.0.1
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Browser
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.Debugger
    nuget Fable.Browser.Dom
    nuget Fulma

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6
